body {
	background: grey;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

#winebottle  {
	width: 280px;
	height: 280px;
	background: #228B22;
	-webkit-clip-path: polygon(32% 50%, 41% 30%, 43% 0, 50% 0, 53% 31%, 63% 49%, 66% 62%, 67% 80%, 66% 99%, 29% 100%, 28% 80%, 29% 64%);
clip-path: polygon(32% 50%, 41% 30%, 43% 0, 50% 0, 53% 31%, 63% 49%, 66% 62%, 67% 80%, 66% 99%, 29% 100%, 28% 80%, 29% 64%);
	position: relative;
	 top: -600px;
	 left: 90px;
}

#table {
	width: 900px;
	height: 150px;
	background: #CD853F;
	top: 420px;
	left: 0px;
	position: absolute;
}

#circle {
	width: 80px;
	height: 80px;
	background: #48D1CC;
	opacity: 0.5;
	-webkit-clip-path: polygon(48% 2%, 68% 0, 88% 21%, 100% 55%, 84% 83%, 49% 90%, 18% 84%, 0 61%, 8% 27%, 26% 0);
clip-path: polygon(48% 2%, 68% 0, 88% 21%, 100% 55%, 84% 83%, 49% 90%, 18% 84%, 0 61%, 8% 27%, 26% 0);
position: relative;
top: -670px;
left: 320px;
}

#circle2 {
	width: 80px;
	height: 80px;
	background: #48D1CC;
	opacity: 0.5;
	-webkit-clip-path: polygon(48% 2%, 68% 0, 88% 21%, 100% 55%, 84% 83%, 49% 90%, 18% 84%, 0 61%, 8% 27%, 26% 0);
clip-path: polygon(48% 2%, 68% 0, 88% 21%, 100% 55%, 84% 83%, 49% 90%, 18% 84%, 0 61%, 8% 27%, 26% 0);
position: relative;
top: -750px;
left: 420px;
}

#glass {
	width: 80px;
	height: 80px;
	background: #48D1CC;
	opacity: 0.5;
	-webkit-clip-path: polygon(42% 77%, 48% 66%, 46% 53%, 60% 53%, 57% 66%, 63% 78%, 70% 87%, 86% 96%, 65% 100%, 42% 100%, 19% 96%, 36% 87%);
clip-path: polygon(42% 77%, 48% 66%, 46% 53%, 60% 53%, 57% 66%, 63% 78%, 70% 87%, 86% 96%, 65% 100%, 42% 100%, 19% 96%, 36% 87%);
position: relative;
top: -810px;
left: 417px;
}

#glass2 {
	width: 80px;
	height: 80px;
	background: #48D1CC;
	opacity: 0.5;
	-webkit-clip-path: polygon(42% 77%, 48% 66%, 46% 53%, 60% 53%, 57% 66%, 63% 78%, 70% 87%, 86% 96%, 65% 100%, 42% 100%, 19% 96%, 36% 87%);
clip-path: polygon(42% 77%, 48% 66%, 46% 53%, 60% 53%, 57% 66%, 63% 78%, 70% 87%, 86% 96%, 65% 100%, 42% 100%, 19% 96%, 36% 87%);
position: relative;
top: -890px;
left: 317px;
}


#tablecloth {
	width: 1000px;
	height: 800px;
	background: yellow;
	-webkit-clip-path: polygon(12% 84%, 80% 84%, 89% 100%, 19% 100%);
clip-path: polygon(12% 84%, 80% 84%, 89% 100%, 19% 100%);
	 position: relative;
	 top: -250px;
	 left: -30px;

}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 400px;
    top: -1350px;
    width: 150px;
    height: 240px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 250px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
.htype1{
  font-size: 3.4em;
      color: white;
      position: absolute;
      left: 310px;
      top: 80px;
      line-height: 39pt;
      text-align: center;
      font-family: 'Dancing Script', cursive;
}
#line {
	width: 1px;
	height: 143px;
	background: black;
	top: 280px;
	left: 400px;
	position: absolute;
}

#flowerbottle {
	position: relative;
	 top: -1140px;
	 left: 600px;
	width: 120px;
	height: 150px;
	background: #48D1CC;
	opacity: 0.5;
	-webkit-clip-path: polygon(20% 0%, 80% 0%, 93% 26%, 93% 90%, 80% 100%, 20% 100%, 7% 90%, 7% 26%);
clip-path: polygon(20% 0%, 80% 0%, 93% 26%, 93% 90%, 80% 100%, 20% 100%, 7% 90%, 7% 26%);
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#wine{
	position: relative;
	top: -1195px;
    left: 428px;
    transform: rotate(180deg);
     height:30px;
     width:60px;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
     background: #FFD700;
	opacity: 0.9;
}

#wine1{
	position: relative;
	top: -1225px;
    left: 330px;
    transform: rotate(180deg);
     height:30px;
     width:60px;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
     background: #FFD700;
	opacity: 0.9;
}

#water {
	position: relative;
	 top: -1280px;
	 left: 615px;
	width: 120px;
	height: 150px;
	background: #1E90FF;
	opacity: 0.5;
	width: 90px;
	height: 70px;
	-webkit-clip-path: polygon(33% 15%, 66% 15%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
clip-path: polygon(33% 15%, 66% 15%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
#SHOOT{
	width: 5px;
	height: 200px;
	background: green;
	top: 290px;
	left: 680px;
	position: absolute;
	transform: rotate(10deg);

		}

		#SHOOT1{
	width: 5px;
	height: 200px;
	background: green;
	top: 290px;
	left: 650px;
	position: absolute;
	transform: rotate(-20deg);

		}

			#SHOOT2{
	width: 5px;
	height: 220px;
	background: green;
	top: 260px;
	left: 650px;
	position: absolute;
	transform: rotate(-10deg);

		}


			#SHOOT3{
	width: 5px;
	height: 220px;
	background: green;
	top: 260px;
	left: 650px;
	position: absolute;
	transform: rotate(20deg);

		}

	#flower
	 {
	 	top: 260px;
	left: 650px;
	position: absolute;
	width: 40px;
	height: 40px;
	background: #F08080;
	-webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
#flower1
	 {
	 	top: 280px;
	left: 630px;
	position: absolute;
	width: 40px;
	height: 40px;
	background: #C71585;
	-webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#flower2
	 {
	 	top: 230px;
	left: 620px;
	position: absolute;
	width: 100px;
	height: 100px;
	background: red;
	-webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#bottlebrand {
	position: absolute;
	 top: 225px;
	 left: 205px;
	border-bottom: 80px solid #8FBC8F;
	border-left: 7px solid transparent;
	border-right: 19px solid transparent;
	height: 0;
	width: 12px;
}

#bottlebrand1 {
	position: absolute;
	 top: 360px;
	 left: 168px;
	width: 110px;
	height: 110px;
	background: #8FBC8F;
	-webkit-clip-path: polygon(36% 38%, 75% 37%, 100% 29%, 100% 70%, 80% 89%, 31% 90%, 0% 70%, 0% 30%);
clip-path: polygon(36% 38%, 75% 37%, 100% 29%, 100% 70%, 80% 89%, 31% 90%, 0% 70%, 0% 30%);
}

/* Center the demo */
html, body { height: 100%; }
body {
	display: flex;
	justify-content: center;
	align-items: center;
}

