body {
	
	
}

.boxx1{
	/*background-image: url(typeweb.png);*/
	position: absolute;
	width: 1366px;
	height: 1102px;
}


.p1{
	top: 20px;
	left: 20px;
	position: absolute;
}

.p2{
	top: 20px;
	left: 40px;
	position: absolute;
}
.p3{
	top: 20px;
	left: 60px;
	position: absolute;
	transform-origin: center;
}
.p4{
	top: 20px;
	left: 80px;
	position: absolute;
	transform-origin: center;
}
.p5{
	top: 20px;
	left: 100px;
	position: absolute;
	transform-origin: center;
}
.p6{
	top: 20px;
	left: 120px;
	position: absolute;
}
.p7{
	top: 40px;
	left: 20px;
	position: absolute;
}
.p8{
	top: 40px;
	left: 40px;
	position: absolute;
}
.p9{
	top: 40px;
	left: 60px;
	position: absolute;
}
.p10{
	top: 40px;
	left: 80px;
	position: absolute;
}
.p11{
	top: 40px;
	left: 100px;
	position: absolute;
}
.p12{
	top: 40px;
	left: 120px;
	position: absolute;
}
.p13{
	top: 60px;
	left: 20px;
	position: absolute;
}
.p14{
	top: 60px;
	left: 40px;
	position: absolute;
}
.p15{
	top: 60px;
	left: 60px;
	position: absolute;
}
.p16{
	top: 60px;
	left: 80px;
	position: absolute;
}
.p17{
	top: 60px;
	left: 100px;
	position: absolute;
}
.p18{
	top: 60px;
	left: 120px;
	position: absolute;
}
.p19{
	top: 80px;
	left: 20px;
	position: absolute;
}
.p20{
	top: 80px;
	left: 40px;
	position: absolute;
}
.p21{
	top: 80px;
	left: 60px;
	position: absolute;
}
.p22{
	top: 80px;
	left: 80px;
	position: absolute;
}
.p23{
	top: 80px;
	left: 100px;
	position: absolute;
}
.p24{
	top: 80px;
	left: 120px;
	position: absolute;
}
.p25{
	top: 100px;
	left: 20px;
	position: absolute;
}
.p26{
	top: 100px;
	left: 40px;
	position: absolute;
}
.p27{
	top: 100px;
	left: 60px;
	position: absolute;
}
.p28{
	top: 100px;
	left: 80px;
	position: absolute;
}
.p29{
	top: 100px;
	left: 100px;
	position: absolute;
}
.p30{
	top: 100px;
	left: 120px;
	position: absolute;
}
.p31{
	top: 120px;
	left: 20px;
	position: absolute;
}
.p32{
	top: 120px;
	left: 40px;
	position: absolute;
}
.p33{
	top: 120px;
	left: 60px;
	position: absolute;
}
.p34{
	top: 120px;
	left: 80px;
	position: absolute;
}
.p35{
	top: 120px;
	left: 100px;
	position: absolute;
}
.p36{
	top: 120px;
	left: 120px;
	position: absolute;
}



.circle1 {
	width: 5px;
	height: 5px;
	background: blue;
	border-radius: 50%;

	top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -2px;
}

.circle2 {
	width: 7px;
	height: 7px;
	background: blue;
	border-radius: 200px;

	top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
}

.circle3 {
	width: 12px;
	height: 12px;
	background: blue;
	border-radius: 200px;

	top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -6px;
}

.circle4 {
	width: 15px;
	height: 15px;
	background: blue;
	border-radius: 200px;

	top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -7px;
}

.circle5 {
	width: 20px;
	height: 20px;
	background: blue;
	border-radius: 200px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
}
.canvas-A {
	top: 75px;
	left: 70px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}




.canvas-B {
	top: 75px;
	left: 210px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-C {
	top: 75px;
	left: 350px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-D {
	top: 75px;
	left: 490px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-E {
	top: 75px;
	left: 630px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-F {
	top: 75px;
	left: 770px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-G {
	top: 75px;
	left: 910px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}


.canvas-H {
	top: 75px;
	left: 1050px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}


.canvas-I {
	top: 220px;
	left: 70px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-J {
	top: 220px;
	left: 210px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}


.canvas-K {
	top: 220px;
	left: 350px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-L {
	top: 220px;
	left: 490px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-M {
	top: 220px;
	left: 630px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-N {
	top: 220px;
	left: 770px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-O {
	top: 220px;
	left: 910px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-P {
	top: 220px;
	left: 1050px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-Q {
	top: 365px;
	left:70px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-R {
	top: 365px;
	left: 210px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-S {
	top: 365px;
	left: 350px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-T {
	top: 365px;
	left: 490px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-U {
	top: 365px;
	left: 630px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-V {
	top: 365px;
	left: 770px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-W {
	top: 365px;
	left: 910px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-X {
	top: 365px;
	left: 1050px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}


.canvas-Y {
	top: 510px;
	left: 70px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-Z {
	top: 510px;
	left: 210px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-0 {
	top: 510px;
	left: 350px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-1 {
	top: 510px;
	left: 490px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-2 {
	top: 510px;
	left: 630px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-3 {
	top: 510px;
	left: 770px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-4 {
	top: 510px;
	left: 910px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-5 {
	top: 510px;
	left: 1050px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-6 {
	top: 655px;
	left: 360px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-7 {
	top: 655px;
	left: 500px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-8 {
	top: 655px;
	left: 650px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

.canvas-9 {
	top: 655px;
	left: 800px;
	width: 140px;
	height: 140px;
	margin: 3px;
	background: red;
	opacity: 0.3;
	position: absolute;
}

































